body{
    background-color: black;
}
.navbar{
    display: flex;
}

.navbar h1{
    color: #ff0000;
    font-size:2.5rem;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    padding: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
